{
  "openapi": "3.1.0",
  "info": {
    "title": "Namepass public API",
    "version": "2026-09-30",
    "description": "Deposit addresses, renewal estimates, transaction status and ENS renewal history."
  },
  "servers": [
    {
      "url": "https://beta.namepass.com/api/v1"
    }
  ],
  "security": [],
  "paths": {
    "/address": {
      "post": {
        "operationId": "post_address",
        "summary": "Get a deposit address",
        "description": "Activate deposit monitoring for an ENS name and return its deposit address, subname and supported funding chains.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ],
                "additionalProperties": false
              },
              "example": {
                "name": "example.eth"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Address activated and ready for funding.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before polling again when pending or temporarily unavailable.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid name, chain ID, transaction hash or request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before polling again when pending or temporarily unavailable.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "The ENS name cannot currently be renewed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before polling again when pending or temporarily unavailable.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before polling again when pending or temporarily unavailable.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Temporarily unavailable. Retry after the indicated delay.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before polling again when pending or temporarily unavailable.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/status/{chainId}": {
      "get": {
        "operationId": "get_status",
        "summary": "Poll a transaction",
        "description": "Retrieve renewal status for a USDC deposit transaction. The transaction is complete when every indexed deposit has a verified, finalized renewal.",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "required": true,
            "description": "Source EVM chain ID from the address response.",
            "schema": {
              "type": "string",
              "pattern": "^(0|[1-9][0-9]*)$",
              "description": "Exact integer encoded as a decimal string."
            }
          },
          {
            "name": "transactionHash",
            "in": "query",
            "required": true,
            "description": "The USDC deposit transaction hash returned by your wallet.",
            "schema": {
              "type": "string",
              "pattern": "^0x[0-9a-fA-F]{64}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current progress. Poll pending or processing; stop at complete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before polling again when pending or temporarily unavailable.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid name, chain ID, transaction hash or request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before polling again when pending or temporarily unavailable.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "No matching deposit has been indexed. Retry the same URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before polling again when pending or temporarily unavailable.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before polling again when pending or temporarily unavailable.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Temporarily unavailable. Retry after the indicated delay.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before polling again when pending or temporarily unavailable.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/quote": {
      "post": {
        "operationId": "post_quote",
        "summary": "Estimate a renewal",
        "description": "Estimate renewal duration and fees for an ENS name, funding chain and USDC amount. Estimates assume one processing flow with no existing balance at the deposit address.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "chainId": {
                    "type": "string",
                    "pattern": "^(0|[1-9][0-9]*)$",
                    "description": "Exact integer encoded as a decimal string."
                  },
                  "amount": {
                    "type": "string",
                    "pattern": "^(0|[1-9][0-9]*)$",
                    "description": "Exact integer encoded as a decimal string."
                  }
                },
                "required": [
                  "name",
                  "chainId",
                  "amount"
                ],
                "additionalProperties": false
              },
              "example": {
                "name": "example.eth",
                "chainId": "84532",
                "amount": "1000000"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Estimated renewal time and fee breakdown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before polling again when pending or temporarily unavailable.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid name, chain ID, transaction hash or request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before polling again when pending or temporarily unavailable.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Name cannot currently renew, amount is below the minimum, or amount exceeds the single-flow quote limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before polling again when pending or temporarily unavailable.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before polling again when pending or temporarily unavailable.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Temporarily unavailable. Retry after the indicated delay.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before polling again when pending or temporarily unavailable.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/names/{name}/renewals": {
      "get": {
        "operationId": "get_name_renewals",
        "summary": "List a name's renewals",
        "description": "Retrieve public renewal history and the recorded expiry for an ENS name. Renewals are ordered newest first. Complete indicates a verified, finalized renewal; processing indicates pending verification.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "ENS name, such as example.eth.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page; defaults to 20.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "nextCursor from the previous page. Keep the same name.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Name expiry and renewal history.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoryResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before polling again when pending or temporarily unavailable.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid name, chain ID, transaction hash or request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before polling again when pending or temporarily unavailable.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "This name has not been activated. Get its deposit address first.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before polling again when pending or temporarily unavailable.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before polling again when pending or temporarily unavailable.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Temporarily unavailable. Retry after the indicated delay.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before polling again when pending or temporarily unavailable.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "details": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "required": [
              "code",
              "message"
            ],
            "additionalProperties": false
          },
          "requestId": {
            "type": "string"
          }
        },
        "required": [
          "error",
          "requestId"
        ],
        "additionalProperties": false
      },
      "FundingChain": {
        "type": "object",
        "properties": {
          "chainId": {
            "type": "string",
            "pattern": "^(0|[1-9][0-9]*)$",
            "description": "Exact integer encoded as a decimal string."
          },
          "name": {
            "type": "string"
          },
          "tokenAddress": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{40}$"
          },
          "minimumAmount": {
            "type": "string",
            "pattern": "^(0|[1-9][0-9]*)$",
            "description": "Minimum funding amount in six-decimal USDC units."
          }
        },
        "required": [
          "chainId",
          "name",
          "tokenAddress",
          "minimumAmount"
        ],
        "additionalProperties": false
      },
      "AddressResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "depositAddress": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{40}$"
          },
          "subname": {
            "type": "string"
          },
          "subnameVerified": {
            "type": "boolean"
          },
          "chains": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FundingChain"
            }
          }
        },
        "required": [
          "name",
          "depositAddress",
          "subname",
          "subnameVerified",
          "chains"
        ],
        "additionalProperties": false
      },
      "Renewal": {
        "type": "object",
        "properties": {
          "chainId": {
            "type": "string",
            "pattern": "^(0|[1-9][0-9]*)$",
            "description": "Exact integer encoded as a decimal string."
          },
          "transactionHash": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$"
          },
          "secondsAdded": {
            "type": "string",
            "pattern": "^(0|[1-9][0-9]*)$",
            "description": "Exact integer encoded as a decimal string."
          },
          "expiry": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "required": [
          "chainId",
          "transactionHash",
          "secondsAdded",
          "expiry"
        ],
        "additionalProperties": false
      },
      "DepositStatus": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "depositAddress": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{40}$"
          },
          "logIndex": {
            "type": [
              "integer",
              "null"
            ]
          },
          "amount": {
            "type": "string",
            "pattern": "^(0|[1-9][0-9]*)$",
            "description": "Deposited USDC, in six-decimal token units."
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "complete",
              "failed"
            ]
          },
          "reason": {
            "type": [
              "string",
              "null"
            ]
          },
          "renewals": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Renewal"
            }
          }
        },
        "required": [
          "name",
          "depositAddress",
          "logIndex",
          "amount",
          "status",
          "reason",
          "renewals"
        ],
        "additionalProperties": false
      },
      "StatusResponse": {
        "type": "object",
        "properties": {
          "chainId": {
            "type": "string",
            "pattern": "^(0|[1-9][0-9]*)$",
            "description": "Exact integer encoded as a decimal string."
          },
          "transactionHash": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "complete",
              "failed"
            ]
          },
          "deposits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DepositStatus"
            }
          }
        },
        "required": [
          "chainId",
          "transactionHash",
          "status",
          "deposits"
        ],
        "additionalProperties": false
      },
      "QuoteResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "chainId": {
            "type": "string",
            "pattern": "^(0|[1-9][0-9]*)$",
            "description": "Exact integer encoded as a decimal string."
          },
          "amount": {
            "type": "string",
            "pattern": "^(0|[1-9][0-9]*)$",
            "description": "Exact integer encoded as a decimal string."
          },
          "secondsAdded": {
            "type": "string",
            "pattern": "^(0|[1-9][0-9]*)$",
            "description": "Exact integer encoded as a decimal string."
          },
          "amountApplied": {
            "type": "string",
            "pattern": "^(0|[1-9][0-9]*)$",
            "description": "Exact integer encoded as a decimal string."
          },
          "renewalFee": {
            "type": "string",
            "pattern": "^(0|[1-9][0-9]*)$",
            "description": "Exact integer encoded as a decimal string."
          },
          "bridgeFee": {
            "type": "string",
            "pattern": "^(0|[1-9][0-9]*)$",
            "description": "Exact integer encoded as a decimal string."
          },
          "roundingRemainder": {
            "type": "string",
            "pattern": "^(0|[1-9][0-9]*)$",
            "description": "Exact integer encoded as a decimal string."
          },
          "pricingBlock": {
            "type": "string",
            "pattern": "^(0|[1-9][0-9]*)$",
            "description": "Exact integer encoded as a decimal string."
          },
          "estimate": {
            "type": "boolean",
            "const": true
          }
        },
        "required": [
          "name",
          "chainId",
          "amount",
          "secondsAdded",
          "amountApplied",
          "renewalFee",
          "bridgeFee",
          "roundingRemainder",
          "pricingBlock",
          "estimate"
        ],
        "additionalProperties": false
      },
      "HistoryItem": {
        "type": "object",
        "properties": {
          "flowId": {
            "type": "string",
            "format": "uuid"
          },
          "sourceChainId": {
            "type": "string",
            "pattern": "^(0|[1-9][0-9]*)$",
            "description": "Exact integer encoded as a decimal string."
          },
          "chainId": {
            "type": "string",
            "pattern": "^(0|[1-9][0-9]*)$",
            "description": "Exact integer encoded as a decimal string."
          },
          "transactionHash": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$"
          },
          "secondsAdded": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^(0|[1-9][0-9]*)$",
            "description": "Exact integer encoded as a decimal string."
          },
          "amountApplied": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^(0|[1-9][0-9]*)$",
            "description": "Exact integer encoded as a decimal string."
          },
          "renewalFee": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^(0|[1-9][0-9]*)$",
            "description": "Exact integer encoded as a decimal string."
          },
          "expiry": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "processing",
              "complete"
            ]
          },
          "renewedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "flowId",
          "sourceChainId",
          "chainId",
          "transactionHash",
          "secondsAdded",
          "amountApplied",
          "renewalFee",
          "expiry",
          "status",
          "renewedAt"
        ],
        "additionalProperties": false
      },
      "HistoryResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "currentExpiry": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "expiryUpdatedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HistoryItem"
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "name",
          "currentExpiry",
          "expiryUpdatedAt",
          "items",
          "nextCursor"
        ],
        "additionalProperties": false
      }
    }
  }
}
